body{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.background{
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../images/wall\ texture.jpg);
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
    mix-blend-mode: darken;
    opacity: 0.3;
}

img{
    width: 100%;
    height: auto;
    margin-bottom: 9%;
}

main{
    position: fixed;
    bottom: 5.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    width: 87.5%;
}

button{
    width: 100%;
    height: 7.4vh;
    margin-top: 2vh;
    border-radius: 1.64vh;
    border: 1px solid white;
    background: #F80032;
    color: white;
    font-family: 'Main', 'MarkGeo', sans-serif;
    font-size: 2.25vh;
    cursor: pointer;
}

.rules{
    background: #A90E2D;
}

h1{
    margin: 0;
    opacity: 0;
    width: 0.2px;
}

#standartMode{
    width: 100%;
    height: 100%;
    background-color: #A90E2D;
    position: absolute;
    display: flex;
    justify-content: center;
    left: -100%;
    transition: 0.3s;
}

.iconbck{
    width: 1vh;
    height: 1.6vh;
    display: inline-block;
    background: url(../icons/go\ bck\ icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 2vh;
}

.gobck{
    width: 100%;
    height: 7.4vh;
    margin-top: 2vh;
    border-radius: 1.64vh;
    border: 1px solid white;
    background: #A90E2D;
    color: white;
    font-family: 'Main', 'MarkGeo', sans-serif;
    font-size: 2.25vh;
    cursor: pointer;
}

input{
    width: 90%;
    height: 7.4vh;
    margin-top: 2vh;
    border-radius: 1.64vh;
    border: 1px solid white;
    background: #940C27;
    color: white;
    font-family: 'MarkGeoCaps', sans-serif;
    font-size: 2.25vh;
    padding: 0 2vh;
    box-shadow: inset 0 0 12px #0000005b;
}

h2{
    margin: 0;
    font-family: 'Main', 'MarkGeoCaps', 'MarkGeo', sans-serif;
    color: white;
}

@media only screen and (width: 320px){
    main{
        width: 77.5%;
    }
}

@media only screen and (height: 1368px){
    main{
        width: 77.5%;
    }
}

@media only screen and (height: 1280px){
    main{
        width: 77.5%;
    }
}

@media only screen and (height: 1180px){
    main{
        width: 74%;
    }
}

@media only screen and (height: 1024px){
    main{
        width: 68%;
    }
}
